

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.container{
    display: inline-flex;
}

.singleArticle {
  display: flex;
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
}

.date{
  flex: 0 0 15%;
}

.article{
  flex: 0 0 65%;
}

.posterImage{
  flex: 0 0 20%;
}

.articleHeading{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.articleContent{


font-family: Georgia, 'Times New Roman', Times, serif;
}


.date{
  color: #ccc;
}
.articleDirector{
  color:#ccc;
}